<template>
  <b-container fluid>
    <!-- User Interface controls -->
    <b-row>
      <b-col md="6" class="my-1 white">
        <b-form-group label-cols-sm="3" label=" Search" class="mb-0">
          <b-input-group>
            <b-input-group-prepend>
              <span class="input-group-text">
                <font-awesome-icon icon="search"/>
              </span>
            </b-input-group-prepend>
            <b-form-input class="shadow" v-model="filter" placeholder="Begin typing to search..."></b-form-input>
            <b-input-group-append>
              <b-button variant="danger" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>

      <b-col md="6" class="my-1 white">
        <b-form-group label-cols-sm="3" label="Sort" class="mb-0">
          <b-input-group>
            <b-input-group-prepend>
              <span class="input-group-text">
                <font-awesome-icon icon="sort"/>
              </span>
            </b-input-group-prepend>
            <b-form-select class="shadow" v-model="sortBy" :options="sortOptions">
              <option slot="first" :value="null">Don't sort</option>
            </b-form-select>
            <b-form-select v-model="sortDesc" :disabled="!sortBy" slot="append">
              <option :value="false">Ascending</option>
              <option :value="true">Descending</option>
            </b-form-select>
          </b-input-group>
        </b-form-group>
      </b-col>

      <b-col md="6" class="my-1 white">
        <b-form-group label-cols-sm="3" label="Per page:" class="mb-0">
          <b-form-select class="shadow" v-model="perPage" :options="pageOptions"></b-form-select>
        </b-form-group>

      </b-col>

<b-col md="6" class="my-1">
  <b-button
  pill
          variant="info"
          size="sm"
          @click="cart()"
          class="mr-1"

        >
        <b-img class="icon"  fluid src="https://aotesty.hmcloud.pl/commerce/048-shopping basket.svg"></b-img>
 View Cart
          ( {{total_items}} )
        </b-button>

       </b-col>
    </b-row>
   <!-- Main table element -->
    <b-table class="shadow p-3 mb-5 bg-white rounded"

      show-empty
      stacked="md"

      striped
      small


      :items="productdata.data"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"

    >
      <template slot="preview_image" slot-scope="productdata" v-if="!loading">
        <b-img class="w-25 h-25" v-bind:src="productdata.item.images.primary.large"></b-img>
      </template>
      <template slot="actions" slot-scope="row">
        <b-button
          variant="outline-success"
          size="sm"
          squared
          @click="info(row.item, row.index, $event.target)"
          class="mr-1"
        >
          <b-img class="icon" src="https://aotesty.hmcloud.pl/commerce/032-placeholder.svg"></b-img> Buy / Details
        </b-button>



      </template>

      <template slot="row-details" slot-scope="row">
        <b-card bg-variant="dark" text-variant="white">
          <ul>
            <b-img rounded fluid v-bind:src="row.item.images.primary.large"></b-img>
          </ul>
          <li>
            <strong>Catalogue No.</strong>
            {{ row.item.id }}
          </li>
          <li>
            <strong>Brand Name:</strong>
            {{ row.item.brand.name }}
          </li>
          <li>
            <strong>Product Name:</strong>
            {{ row.item.general.name }}
          </li>
          <br>
          <li>
            <strong>Product Description:</strong>
          </li>
          <span v-html="row.item.general.description"></span>
        </b-card>
      </template>
    </b-table>

    <b-row>
      <b-col md="6" class="my-1">
        <b-pagination

          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          class="my-0"
          align="fill"
        ></b-pagination>
      </b-col>
    </b-row>

    <!-- Modal with product overview + option to add to cart -->
    <b-modal

      :id="infoModal.id"
      :title="infoModal.title"
      okTitle="Continue Shopping"
      ok-only
      @hide="resetInfoModal"
    >
      <b-img class="w-50 h-50" rounded fluid v-bind:src="infoModal.product_image"></b-img>
     <br> <span><strong>Catalogue No.</strong>
      {{ infoModal.product_id }}</span>
      <br>
      <span><strong>Brand Name:</strong></span>
      {{ infoModal.product_brand }}
      <br>
     <span> <strong>Description:</strong></span>
      <br>
      <span v-html="infoModal.product_desc"></span><br>
   <b-input-group>

       <b-input-group-prepend>

       <b-form-input ref="amount" name="value" id="amount" size="md" width="50" type="number" min="1" max="99" value="1" oninput="if (this.value < 1) { this.value = 1};"></b-form-input>
     </b-input-group-prepend>
    <b-button size="sm" variant="outline-success" @click="addToCart">
        <b-img class="icon" src="https://aotesty.hmcloud.pl/commerce/048-shopping basket.svg"></b-img>Add to Cart
      </b-button> </b-input-group>
    </b-modal>

 <!-- Cart overview -->
   <b-modal
      :id="cartModal.id"
      :title="cartModal.title"
      okTitle="Continue Shopping"
      ok-only

    >

    <ul >

  <li id="contents" v-for="item in shoppingcart">
    <img style="width: 25%; height: 25%;" v-bind:src="item.product_image">
    {{ item.product_name }} x {{item.amount}}
  </li>


</ul>
  <b-button size="sm" variant="outline-danger" @click="emptyCart">
        <font-awesome-icon icon="trash"/> Empty Cart
      </b-button>
    </b-modal>
    <!-- Summary of database -->
    <span class="white">There are total number of
    <strong>{{ productdata.data.length }}</strong>
    products in database.</span>


  </b-container>

</template>

<script>
import axios from "axios";
export default {

  data() {
    return {

      emptymessage: "Your cart is currently empty.",
      total_items: 0,
      productdata: [],

      shoppingcart: [],

      fields: [
        {
          key: "general.presentable_id",
          label: "Catalogue No.",
          sortable: true,
          sortDirection: "desc",
          class: "text-center"
        },
        {
          key: "preview_image",
          // Label empty for aesthetic reasons.
          label: "",
          class: "text-center"
        },
        {
          key: "general.name",
          label: "Product Name",
          sortable: true,
          class: "text-center"
        },
        {
          key: "brand.name",
          label: "Brand Name",
          sortable: true,
          class: "text-center"
        },
        { key: "actions", label: "", class: "text-center" }
      ],
      totalRows: this.totalRows,
      currentPage: 1,
      perPage: 10,
      pageOptions: [5, 10, 15, 30, 45],
      sortBy: null,
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      },
      cartModal: {
        id: "cart-modal",
        title: "",
        content: ""
      },



    };
  },
 beforeMount() {
   // * LOADING SHOPPING CART DATA FROM LOCAL STORAGE SECTION - BEGIN * //
/* In this project one of the goals was to program shopping cart so that it contents would not vanish after refreshing the page.
  The real choice was between sessionstorage or localstorage, as they are both well supported in majority of browsers.
  It is rather widely accepted among programmers that localstorage is not suitable for sensitive data, but rather
  suitable for such data as shopping cart contents, as they are often minimal and can be recreated
*/
    // Check if localstorage was previously populated. If client was shopping before, load his shopping cart contents.
  if (localStorage.getItem('local_shoppingcart')) {
  this.shoppingcart = JSON.parse(localStorage.getItem('local_shoppingcart'));
  } else {
    //If not - NOOP. Continuing without localstorage entry will result in error.
    // In case someone manually deleted shopping cart contents from browser devtools in Application - local storage, we need to accomodate for that and clear the product cart amount.
    // Failing to clear that will result in corrupted data where one key (storage) or cart contents is missing, so the safest solution is to just clear them all and let user shop again.
    this.total_items = 0;
  }
    // Update number of products in shopping cart if there is localstorage entry.
  if (localStorage.getItem('total_items')) {
    this.total_items = parseInt(localStorage.getItem('total_items'));
  } else {
    // If not - NOOP as well. Without localstorage entry it will be NaN error because of non-existing entry.
    // In case some manually deleted shopping cart amount from browser devtools in Application - local storage - we need to acomodate for that as well and clear shopping cart contents.
  this.shoppingcart = [];
  }
  // * LOADING SHOPPING CART DATA FROM LOCAL STORAGE SECTION - END * //


  /* COMMENTED OUT - API VERSION FOR HEROKU LIVE-DEMO
    const getUrl = "https://api.jsonbin.io/b/5cffacbdc8ef784267786ee3/"; // request URL
    const token =
      "$2a$10$uOG9AN0i2iGSeYtcZGNu5OGhSCLuefgDU99xxHxOB09uSOLFlXuS2"; // access token
    var axiosHeaders = {
      headers: { "secret-key": token }
    };
    axios
      .get(getUrl, axiosHeaders)
    */

    // API adjusted for local version
    const getUrl = "http://localhost:3005/products/";
    axios
    .get (getUrl)
      .then(response => {
        this.productdata = response;
        console.log(response.data.length);
        this.productCount = response.data.length;
        this.totalRows = response.data.length;
      })
      .catch(e => {

        let toast = this.$toasted.show("Unfortunately a following error has appeared while querying our database: " +
            e +
            " Please try again or write down the error code and contact with our shop. We apologize for any inconvenience", {
   theme: "toasted-primary",
   type: "error",
	 position: "top-center",
   duration : 9000,
   className: 'toast-error',
   fullWidth: true,
    action : {
        text : 'Close',
        onClick : (e, toastObject) => {
            toastObject.goAway(0);
        }
    },
});
      });
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },

  methods: {
    info(item, index, button) {
      this.infoModal.title = `${item.general.name}`;
      this.infoModal.content = JSON.stringify(item, null, 2);
      this.infoModal.product_id = `${item.id}`;
      this.infoModal.product_image = `${item.images.primary.large}`;
      this.infoModal.product_brand = `${item.brand.name}`;
      this.infoModal.product_desc = `${item.general.description}`;

      if (this.infoModal.product_desc === "") {
        this.infoModal.product_desc =
          "<i>The manufacturer of this product did not provide any description. You can ask us directly about this product via e-mail or phone.</i>";
      } else {
      }
      this.$root.$emit("bv::show::modal", this.infoModal.id, button);

    },
        cart(item, index, button) {
       this.cartModal.title = 'Your Shopping Cart';


      this.$root.$emit("bv::show::modal", this.cartModal.id, button);
        },
    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    addToCart: function() {
        this.shoppingcart.push({"product_image": this.infoModal.product_image, "product_name":this.infoModal.title, "amount": document.querySelector("input[name=value]").value});
           this.emptymessage = "";
      var session_cart = [{"product_image": this.infoModal.product_image, "product_name":this.infoModal.title, "amount": document.querySelector("input[name=value]").value}];
        localStorage.setItem('local_shoppingcart', JSON.stringify(this.shoppingcart));
        this.total_items = this.total_items + parseInt(document.querySelector("input[name=value]").value);
        localStorage.setItem('total_items', this.total_items);
     let toast = this.$toasted.show('Added ' + document.querySelector("input[name=value]").value + ' piece(s) of ' + this.infoModal.title + ' to your shopping cart.', {
   theme: "toasted-primary",
    type: "success",
	 position: "bottom-right",
   duration : 2000,
   action : {
        text : 'Close',
        onClick : (e, toastObject) => {
            toastObject.goAway(0);
        }
    },
});
    },
    emptyCart: function() {

        this.shoppingcart = [];
        this.total_items = 0;
        // remove entries from localstorage as well.
         localStorage.removeItem('local_shoppingcart');
   localStorage.removeItem('total_items');
         let toast = this.$toasted.show('Your shopping cart is now empty.', {
   theme: "toasted-primary",
   type: "success",
	 position: "bottom-right",
   duration : 3000,

    action : {
        text : 'Close',
        onClick : (e, toastObject) => {
            toastObject.goAway(0);
        }
    },

});
    },

  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
body {
  font-family: "Raleway", Cambria, Arial, sans-serif;
  font-size: 90%;

background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(107,9,121,1) 28%, rgba(0,212,255,1) 100%);
}
#app {
  font-family: "Raleway", Cambria, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
p, span {
  color: black;
}
img.preview {
  width: 20%;
  height: 20%;
}
.icon {
  width: 5%;
  height: 5%;
}
.white {
  color: white;
}
</style>
